
<link rel="preload" as="style" href="{{ 'socialmedia-gallery.css' | asset_url }}">
{{ 'socialmedia-gallery.css' | asset_url | stylesheet_tag }}

<div class="section-wrapper {{ section.settings.color_scheme }}-color-scheme {% if section.settings.enable_gradiant %} gradient{% endif %}">
  <div class="container">
    {% if section.settings.heading != blank %}
      {%- capture higlightPrefix -%}
        <span class="marker">
      {%- endcapture -%}
      {%- capture highlightSuffix -%}
        {%- render 'marker-text-style' marker_style: section.settings.higlight_style -%}
      {%- endcapture -%}
      <div class="section-heading-box  text-{{ section.settings.text_alignment }}">
        <{{ section.settings.seo_heading_tag }} class="section-heading-title rte{% if section.settings.enable_highlight %} highlight-text{% endif %} {{ section.settings.heading_size }}"
          style="--outline-thickness:{{ section.settings.outline_thickness }};--marker-svg:{{ section.settings.marker_color }};--marker:{{ section.settings.marker_text_color }}">
          {{ section.settings.heading | replace: "[[", higlightPrefix | replace: "]]", highlightSuffix }}
        </{{ section.settings.seo_heading_tag }}>
      </div>
    {% endif %}
  {% if section.settings.enable_full_width %}
  </div>
{% endif %}
  {% if section.blocks.size > 0 %}
    <div class="socialmedia-gallery__wrapper block-{{ section.blocks.size }}">
      {% for block in section.blocks %}
        <div class="socialmedia-gallery__item" id="block-{{ block.id }}" {{ block.shopify_attributes }}>
          <div class="socialmedia-gallery__image">
            <div class="image-wrapper" style="--img-ratio:{% if block.settings.image != blank %}100{% else %}40{% endif %}%">
              {% if block.settings.image != blank %}
                {%- render 'lazy-image', image: block.settings.image -%}
              {% else %}
               {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
          </div>
          {% if  block.settings.link != blank  or block.settings.heading %}
            <{% if block.settings.link != blank %}a href="{{ block.settings.link }}" aria-label="icons"{% else %}div{% endif %} class="socialmedia-gallery__icon">
              {% render 'social-icons', icons: section.settings.social_media_icon %}
            {% if block.settings.heading != blank %}
             <p>{{ block.settings.heading }}</p>
            {% endif %}
            </{% if block.settings.link != blank %}a{% else %}div{% endif %}>
          {% endif %}
        </div>        
      {% endfor %}
    </div>
  {% endif %}
  
  {% unless section.settings.enable_full_width %}
  </div>
{% endunless %}
</div>
<style>
  #shopify-section-{{ section.id }}{
    --inner-space-top:{{ section.settings.top_space_desktop }}px;
    --inner-space-bottom:{{ section.settings.bottom_space_desktop }}px;
    --social-icon-color:{{ section.settings.overlay_text_color }};
    --social-background:{{ section.settings.overlay_color.red }},{{ section.settings.overlay_color.green }},{{ section.settings.overlay_color.blue }};
    --social-background-opacity:{{ section.settings.overlay_opacity | divided_by : 100.0 }};
  }
  #shopify-section-{{ section.id }} .section-heading-title{
    padding-bottom:{{ section.settings.heading_space_desktop }}px;
  }
  @media screen and (max-width:767px){
    #shopify-section-{{ section.id }} .section-wrapper {
      --inner-space-top:{{ section.settings.top_space_mobile }}px;
      --inner-space-bottom:{{ section.settings.bottom_space_mobile }}px;
    }
    #shopify-section-{{ section.id }} .section-heading-title{
      padding-bottom:{{ section.settings.heading_space_mobile }}px;
    }
  }
  {% if section.settings.section_visibility == 'large' %}
    @media (max-width: 767px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
  {% elsif section.settings.section_visibility == 'small' %}
    @media (min-width: 768px) {
      #shopify-section-{{ section.id }}{
        display: none !important;
      }
    }
{% endif %}

</style>
{% schema %}
{
  "name": "t:sections.social_media_gallery.name",
  "class": "Socialmedia-gallery-section",
  "max_blocks": 7,
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:common.section_visibility.label",
      "default": "always",
      "options": [
        {
          "label": "t:common.section_visibility.options.always.label",
          "value": "always"
        },
        {
          "label": "t:common.section_visibility.options.small_devices.label",
          "value": "small"
        },
        {
          "label": "t:common.section_visibility.options.large_devices.label",
          "value": "large"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.social_media_gallery.settings.enable_full_width.label",
      "default": true
    },
    {
      "label": "t:common.heading.label",
      "id": "heading",
      "type": "inline_richtext",
      "info": "t:common.marker_style.info"
    },
    {
      "type": "checkbox",
      "id": "enable_highlight",
      "label": "t:common.highlight_text.label",
      "info": "t:common.highlight_text.info"
    },
    {
      "type": "select",
      "id": "higlight_style",
      "label": "t:common.marker_style.label",
      "default": "basic",
      "options": [
        {
          "value": "basic",
          "label": "t:common.marker_style.options.basic.label"
        },
        {
          "value": "curved",
          "label": "t:common.marker_style.options.curved.label"
        },
        {
          "value": "line",
          "label": "t:common.marker_style.options.line.label"
        },
        {
          "value": "box",
          "label": "t:common.marker_style.options.box.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "outline_thickness",
      "label": "t:common.outline_stroke.label",
      "default": "1px",
      "options": [
        {
          "value": "1px",
          "label": "t:common.outline_stroke.options.thin.label"
        },
        {
          "value": "2px",
          "label": "t:common.outline_stroke.options.thick.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:common.heading_size.label",
      "default": "h5",
      "options": [
        {
          "value": "h1",
          "label": "t:common.heading_size.options.h1.label"
        },
        {
          "value": "h2",
          "label": "t:common.heading_size.options.h2.label"
        },
        {
          "value": "h3",
          "label": "t:common.heading_size.options.h3.label"
        },
        {
          "value": "h4",
          "label": "t:common.heading_size.options.h4.label"
        },
        {
          "value": "h5",
          "label": "t:common.heading_size.options.h5.label"
        },
        {
          "value": "h6",
          "label": "t:common.heading_size.options.h6.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "seo_heading_tag",
      "label": "t:common.seo_heading_tag.label",
      "info": "t:common.seo_heading_tag.info",
      "default": "h3",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:common.heading_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:common.heading_alignment.options.left.label"
        },
        {
          "value": "center",
          "label": "t:common.heading_alignment.options.center.label"
        },
        {
          "value": "right",
          "label": "t:common.heading_alignment.options.right.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "heading_space_desktop",
      "label": "t:common.header.heading_space_desktop.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "heading_space_mobile",
      "label": "t:common.header.heading_space_mobile.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "social_media_icon",
      "label": "t:sections.social_media_gallery.settings.social_media_icon.label",
      "default": "instagram",
      "options": [
        {
          "value": "facebook",
          "label": "Facebook"
        },
        {
          "value": "instagram",
          "label": "Instagram"
        },
        {
          "value": "linkedin",
          "label": "Linkedin"
        },
        {
          "value": "pinterest",
          "label": "Pinterest"
        },
        {
          "value": "snapchat",
          "label": "Snapchat"
        },
        {
          "value": "tikTok",
          "label": "TikTok"
        },
        {
          "value": "tumblr",
          "label": "Tumblr"
        },
        {
          "value": "twitter",
          "label": "Twitter"
        },
        {
          "value": "vimeo",
          "label": "Vimeo"
        },
        {
          "value": "youTube",
          "label": "YouTube"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:common.header.color_section.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:common.color_scheme.label",
      "default": "secondary",
      "options": [
        {
          "value": "primary",
          "label": "t:common.color_scheme.options.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:common.color_scheme.options.secondary.label"
        },
        {
          "value": "tertiary",
          "label": "t:common.color_scheme.options.tertiary.label"
        },
        {
          "value": "quaternary",
          "label": "t:common.color_scheme.options.quaternary.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_gradiant",
      "label": "t:common.gradient.label",
      "default": false
    },
    {
      "type": "color",
      "id": "marker_color",
      "label": "t:common.marker_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "marker_text_color",
      "label": "t:common.marker_text_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "overlay_text_color",
      "label": "t:sections.social_media_gallery.settings.overlay_text_color.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:sections.social_media_gallery.settings.overlay_color.label",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.social_media_gallery.settings.overlay_opacity.label",
      "default": 50,
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:common.section_spacing.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:common.section_spacing.top_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:common.section_spacing.bottom_space_desktop.label",
      "default": 70,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:common.section_spacing.top_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:common.section_spacing.bottom_space_mobile.label",
      "default": 40,
      "min": 0,
      "max": 100,
      "step": 5
    }
  ],
  "blocks": [
    {
      "type": "media",
      "name": "t:sections.social_media_gallery.blocks.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:common.image.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:common.heading.label",
          "info": "t:sections.social_media_gallery.blocks.settings.heading.info"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:common.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.social_media_gallery.presets.name",
      "blocks": [
        {
          "type": "media"
        },
        {
          "type": "media"
        },
        {
          "type": "media"
        },
        {
          "type": "media"
        },
        {
          "type": "media"
        },
        {
          "type": "media"
        },
        {
          "type": "media"
        }
      ]
    }
  ]
}
{% endschema %}